@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-color: black;
  /* Support for iOS safe areas - background extends to edges */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

:root {
  --yellow: #F9DF70;
  --red: #5A363A;
  --font-title: var(--font-montserrat);
  --font-body: var(--font-raleway);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-montserrat);
  --font-body: var(--font-raleway);
}

@media (min-width: 800px) {
  .mainCont {
    background: black;
    height: auto;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .heroCont {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
  }

  .heroLogo {
    position: absolute;
    top: 35px;
    left: 100px;
    width: 100px;
    height: 100px;
    z-index: 100;
  }

  .heroText {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-align: start;
  }

  .heroText h1 {
    font-family: var(--font-montserrat);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-transform: uppercase !important;
  }

  .heroText p {
    font-family: var(--font-raleway);

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: var(--yellow);
    text-transform: uppercase !important;
  }

  .heroButtons {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

  }
  .heroButtonsMobile {
    display: none;
  }

  .heroButtons button {
    font-family: var(--font-raleway);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: white;
    background-color: transparent;
    border: 2px solid var(--yellow);
    padding: 1rem 2rem;
    text-transform: uppercase !important;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--yellow);
      color: black;
    }

  }

  .quoteCont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 100%;
    max-width: 100vw;
    background-color: var(--red);
  }

  .quoteText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }
  .bioContTitleMobile{
    display: none;
  }
  .bioCont {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 900px;
    width: 100%;
    max-width: 100vw;
  }
  .bioCont2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 900px;
    width: 100%;
    max-width: 100vw;
  }
  .bioContMobile {
    display: none;
  }
  .bioCont2Mobile {
    display: none;
  }
  .bioImage {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bioText {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
  }

  .bioText h2 {
    width: 100%;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }

  .bioText h1 {
    width: 100%;
    font-family: var(--font-montserrat);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }

  .bioText p {
    width: 100%;
    font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: white;

  }
  .scheduleContMobile {
    display: none;
  }
  .scheduleCont {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 1100px;
    width: 100%;
    max-width: 100vw;
  }

  .scheduleImage {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .scheduleText {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
  }

  .scheduleText h2 {
    width: 100%;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
    flex-shrink: 0;
  }

  .scheduleText h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
    flex-shrink: 0;
  }

  .calendly-inline-widget {
    width: 100%;
    width: 400px;
    height: 1000px !important;
    flex: 1;
    min-height: 0;
    margin-top: 1rem;
    /* overflow: hidden; */
  }

  .calendly-inline-widget iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    /* overflow: hidden !important; */
  }

  .footerCont {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vw;

  }
}
@media (max-width: 800px) {
  .mainCont {
    background: black;
    height: auto;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .heroCont {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
  }

  .heroLogo {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 100px;
    height: 100px;
    z-index: 100;
  }

  .heroText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
    text-align: start;
  }

  .heroText h1 {
    font-family: var(--font-montserrat);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-transform: uppercase !important;
  }

  .heroText p {
    font-family: var(--font-raleway);

    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: var(--yellow);
    text-transform: uppercase !important;
  }

  .heroButtons {
   display: none;

  }
  .heroButtonsMobile {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  .heroButtonsMobile button {
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: white;
    background-color: transparent;
    border: 2px solid var(--yellow);
    padding: 1rem 2rem;
    text-transform: uppercase !important;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--yellow);
      color: black;
    }

  }

  .quoteCont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 100%;
    max-width: 100vw;
    background-color: var(--red);
  }

  .quoteText {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }

  .bioCont {
    display: none;
  }
  .bioCont2 {
    display: none;
  }
  .bioContTitleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-transform: uppercase !important;
    padding:  30px;
    font-family: var(--font-montserrat);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
  }
  .bioContMobile {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 300px;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100vw;
  }
  

  .bioContMobileItem {
    position: relative;
    width: 100%;
    height: 100%;
    text-transform: uppercase !important;
    padding:  30px;
  }
  .bioContMobileItem h1 {
    width: 100%;
    font-family: var(--font-montserrat);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }
  .bioImage {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bioText {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .bioText h2 {
    width: 100%;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }

  .bioText h1 {
    width: 100%;
    font-family: var(--font-montserrat);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase !important;
  }

  .bioText p {
    width: 100%;
    font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: white;

  }
  .scheduleCont {
    display: none;
  }
  .scheduleContMobile {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1100px;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100vw;
  }

  .scheduleImage {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .scheduleTextMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-montserrat);
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    text-transform: uppercase !important;
    
  }
  .scheduleText {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
  }

  .scheduleText h2 {
    width: 100%;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
    flex-shrink: 0;
  }

  .scheduleText h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
    flex-shrink: 0;
  }

  .calendly-inline-widget {
    width: 100%;
    width: 400px;
    height: 1000px !important;
    flex: 1;
    min-height: 0;
    margin-top: 1rem;
    /* overflow: hidden; */
  }

  .calendly-inline-widget iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    /* overflow: hidden !important; */
  }

  .footerCont {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vw;

  }
}

@media (min-width: 800px) {
  .contactFormCont {
    position: relative;
    width: calc(100vw - 120px);
    height: 100%;
    margin-left: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
  }

  .contactFormInner {
    position: relative;

    height: 100%;
    margin-left: 0px;

    padding-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .titleCont {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    text-align: start;

    font-family: var(--font-montserrat);
    color: white;
    z-index: 150;
  }

  .contactFormTitle {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
  }

  .contactFormSubtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
  }

  .contactFormSubtitleItem {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
  }

  .titleContMobile {
    display: none;
  }

  .contactFormForm {

    max-width: 100%;
    height: auto;
    color: white;
    font-size: 14px;
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .contactFormForm>p {
    font-size: 20px;
  }

  .contactFormFormInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 20px; */
  }

  .contactFormFormInfoItem {
    font-size: 20px;
    font-family: var(--font-raleway);
    color: var(--dark-green);
  }

  .nameSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  .nameCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase !important;
  }

  .formInput {
    border: 1px solid white;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--font-raleway);
    color: white;
    background-color: transparent;

  }

  .formInputArea {
    border: 1px solid white;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--font-raleway);
    color: white;
    background-color: transparent;
  }

  .contactFormFormBtnCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .contactFormFormBtn {
    position: relative;
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 700;
    color: white;
    border: 1px solid var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    z-index: 110;
    text-transform: uppercase !important;
  }

  .hCaptchaCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .contactFormCont {
    position: relative;
    width: 100vw;
    height: auto;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
  }

  .contactFormInner {
    position: relative;

    height: 100%;
    /* margin-left: 17px; */

    /* padding-top: 200px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .titleCont {
    display: none;
  }

  .titleContMobile {
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    text-align: start;
    padding: 30px;
    font-family: var(--title);
    color: white;
    z-index: 150;
  }
  .titleContMobile h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
  }
  .titleContMobile h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
  }
  .titleContMobile p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase !important;
  }
  .contactFormForm {
    /* margin-top: 100px; */
    max-width: 680px;
    height: auto;
    color: white;
    font-size: 20px;
    font-family: var(--body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .contactFormForm>p {
    font-size: 15px;
  }

  .contactFormFormInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    /* padding: 20px; */
  }

  .contactFormFormInfoItem {
    font-size: 26px;
    font-family: var(--body);
    color: white;
    text-align: center;
  }

  .nameSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .nameCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
  }

  .formInput {
    
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    font-family: var(--body);
    color: white;
    border: 1px solid white;
    background-color: transparent;

  }

  

  .formInputArea {
    border: 1px solid white;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--body);

    background-color: transparent;

  }

  .contactFormFormBtnCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .contactFormFormBtn {
    position: relative;
    font-size: 20px;
    font-family: var(--body);
    border: 1px solid var(--yellow);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    z-index: 110;
  }

  .hCaptchaCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}